.desc {
    font-weight: bold;
    animation-name: text-animation;
    animation-duration: 2s;
    animation-iteration-count: 1;
  }
  
  @keyframes text-animation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  